body {
  width: 750px;
  margin: 2.5em auto;
  color: #555;
}

h1, h2 {
  font: 300 36px "Helvetica Neue";
  color: #000;
  text-align: center;
  margin: .5em 0;
}

h2 {
  margin: 1em 0 .5em 0;
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: normal;
}

#vis, p {
  text-align: center;
}

#breadcrumbs {
  display: none;
}
