body {
  background: #fcfcfc;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.graticule:nth-child(2n) {
  stroke-dasharray: 2,2;
}

.land {
  fill: #eee;
  stroke: #000;
  stroke-width: .5px;
}

.spiral {
  fill: red;
  fill-opacity: .5;
  stroke: #000;
  stroke-width: .5px;
}

.boundary {
  fill: none;
  stroke: #ccc;
}
